body{
    margin-top:20px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a{
  font-family: 'Bungee';
  font-size: 0.5em;
}
p{
font-family: 'Bungee';
font-size: 0.7em;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  a{
  font-family: 'Bungee';
  font-size: 0.6em;
}
p{
font-family: 'Bungee';
font-size: 0.8em;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  a{
  font-family: 'Bungee';
  font-size: 0.8em;
}
p{
font-family: 'Bungee';
font-size: 0.1em;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  a{
  font-family: 'Bungee';
  font-size: 1em;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  a{
  font-family: 'Bungee';
  font-size: 1.5em;
}

}
.textogym{
          font-family: 'Bungee', cursive;
          font-size: 1em;
       }
.textogymxl{
       font-family: 'Bungee', cursive;
       font-size: 2.5em;
       margin-top: 0.5em;
       margin-bottom: 0.5em;
}
.fondoentrenos{
  background: rgb(149,90,90);
background: linear-gradient(90deg, rgba(149,90,90,1) 0%, rgba(215,70,70,1) 50%, rgba(149,90,90,1) 100%);
box-shadow:  11px -11px 21px grey,
            -11px 11px 21px lightgrey;
margin-bottom: 2em;
margin-top: 2em;
}

.contenedorentrenos{
  height: 30em;
}
.contenedorcards{
  background: rgb(149,90,90);
  background: linear-gradient(90deg, rgba(149,90,90,1) 0%, rgba(215,70,70,1) 50%, rgba(149,90,90,1) 100%);
}
.cardsentreno{
  border-radius: 6em;
  box-shadow:  5px -5px 10px black,
              -5px 5px 10px black;
}
.botonentrenos{
  background: white;
font-family: 'Bungee', cursive;
font-size: 1em;
color: black;
margin-top: 1.8em;
height: 3em;
width: 16em;
border-radius: 6em;
}
.labelinputs{
  margin-left: -4em;
}

/*switch de horarios*/
.form-switch.form-switch-sm .form-check-input {

  height: 1rem;
  width: calc(1rem + 0.75rem);
  border-radius: 2rem;
  background-color: rgba(149,90,90,1);
outline-style: none;
}
